body{
  background: #101111;
  color: white;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: 15px 0;
}

main h2 {
  text-align: center;
  background: #123640;
  box-shadow: 0 0 8px 3px #123640;
  padding: 30px;
  border-radius: 15px;
}

main img {
  margin: 10px;
  box-shadow: 0 -2px 5px 9px #123640;
  border-radius: 15px;
}

main .content, main .content_dos {
  margin: 0 auto;
  width: 85%;
}

main .content img {
  float: left;
  width: 200px;
}

main .content .texto, main p {
  font-size: 18px;
  border-radius: 15px;
}

main .content_dos img {
  display: block;
  margin: 0 auto;
  width: 300px; 
}

#unico {
  float: left;
  margin: 30px;
  width: 250px; 
}

@media (min-width: 981px) {
  main {
    margin: 0 25px;
  }

  main .content {
    height: 350px;
  }

  main .content .texto, main p {
    font-size: 30px;
  }

  main .content .texto {
    padding-top: 5%;
  }
}

@media (max-width: 980px) {
  main .content {
    height: 500px;
  }

  main .content .texto {
    padding-top: 5%;
  }

  main .content img, main .content_dos img {
    width: 250px;
    padding-top: 5%;
  }

  main .content_dos img {
    width: 550px;
    height: 350px;
  }
}
